body {
  background-color: #000000;
  color: #ffffff;
  font-size: 17px;
}

/* No padding */
.test { margin:0; padding:0; box-sizing:border-box; }

.banner {font-size: 0;}
.links {font-size: 0;}

.wip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

